@import url('https://fonts.cdnfonts.com/css/lufga');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-family: 'Lufga', sans-serif;
    background: #FFF9F2;
    --swiper-pagination-color: #00AEAA; /* Set the bullet color */
    --swiper-pagination-bullet-opacity: 1; /* Set bullet opacity */
    --swiper-pagination-bullet-border-radius:2px
}
