@import url('https://fonts.cdnfonts.com/css/lufga');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-family: 'Lufga', sans-serif;
    background: #FFF9F2;
    --swiper-pagination-color: #00AEAA; 
    --swiper-pagination-bullet-opacity: 1; 
    --swiper-pagination-bullet-border-radius:2px;
    --swiper-pagination-bullet-width:10px;
    --swiper-pagination-bullet-height:10px;
    scroll-behavior: smooth;
}
